%% rebar3 build manifest for aforo_metering EMQ X plugin

{erl_opts, [debug_info]}.

{deps, [
    {jsone, "1.8.1"}
]}.

{relx, [
    {release, {aforo_metering, "1.0.0"}, [aforo_metering]},
    {include_erts, false},
    {extended_start_script, false},
    {dev_mode, false},
    {overlay_vars_values, []},
    {overlay, [
        {copy, "priv/emqx_plugins/aforo_metering.hocon", "etc/plugins/aforo_metering.hocon"}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [{proper, "1.4.0"}]}
    ]}
]}.
